<h1>Hello Yose</h1>
<div>
    <h2>Challenges</h2>
    <a id="ping-challenge-link" href="/ping">Ping</a>
</div>
<div>
    <a id="repository-link" href="https://github.com/jona10/yose-nodejs" target="_blank">Github</a>
    <a id="contact-me-link" href="mailto:jonathan.falardeau@gmail.com">Jonathan Falardeau</a>
</div>