<!DOCTYPE html>
<html>
<head>
    <title>Yose The Game</title>
    <link type="text/css" rel="stylesheet" href="/vendors/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="/vendors/bootstrap-theme.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">jsYose</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a id="repository-link" href="https://github.com/jona10/yose-nodejs" target="_blank">Github</a></li>
            <li><a id="contact-me-link" href="mailto:jonathan.falardeau@gmail.com">Contact</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    {{{body}}}
</div>
</body>
</html>
